<div class="header">
    <a class="cursor" href="/create"><div class="margin0 left-align blue-text text-darken-2 f600" style="padding-left: 30px;">
        <img src="/img/logo.png" style="height: 48px; position: relative; top: 5px;"><span style="position: relative; top: -10px; left: 0px;">castr <span class="f400">studio</span> - [{{room_name}}]</span>
        <a class="btn-floating pulse" style="width: 10px; height: 10px; background-color: #dd1c44; position: relative; top: -10px;"></a>
    </div></a>
</div>