<!DOCTYPE html>
<html>
    <head>
        <title>Castr Studio</title>
        <link href="/css/index_original.css" rel="stylesheet">
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/js/index_original.js"></script>
    </body>
</html>
